mongodb-compass_1.43.0_amd64.deb

# Backups de editores
*.save
*.bak
*.orig
*.tmp
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Terraform
infra/terraform/terraform.tfvars
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
/tmp/publisher.zip
