# Copy this file to `.env` on the VM and fill the values

# MQTT credentials (must match mosquitto passwd)
MQTT_USER=bipes
MQTT_PASS=CHANGE_ME

# Mongo connection string (Atlas)
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster-url>/?retryWrites=true&w=majority&appName=bipes-db
